@import "../../variables.scss";
@import "../../mixins.scss";

.Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__area {
        max-width: 1180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @include responsive(tablet-large) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include responsive(mobile, tablet) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
